.back {
  width: 320px;
  height: 214px;
  padding: 0;
  margin: 0;
  background-image: url("../img/catalog/back-desktop.png");
  background-color: #3699bd;
  position: relative;
  background-size: cover;
}

.back__logo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
