.hero {
  height: 389px;
  padding: 0;
  margin: 0;
  background-image: url("../img/back-mobile.jpg");
  background-color: #3699bd;
  position: relative;
  z-index: 0;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    height: 518px;
    background-image: url("../img/back-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-table@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    height: 518px;
    background-image: url("../img/back-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.jpg");
    }
  }

  &::after {
    display: block;
    content: "";
    position: absolute;
    height: 57px;
    background-color: #ffffff;
    width: 100%;
    bottom: 0;
    left: 0;
    clip-path: polygon(0 100%, 0 50%, 50% 100%, 100% 50%, 100% 100%);

    @media (min-width: @tablet-width) {
      clip-path: polygon(0 100%, 0 15%, 10% 44%, 10% 0, 50% 97%, 90% 0, 90% 44%, 100% 15%, 100% 100%);
      max-width: 1200px;
    }
  }
}

.hero__logo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 282px;
  height: 214px;

  @media (min-width: @tablet-width) {
    width: 461px;
    height: 350px;
  }
}
