.video-presentation {
  @media (max-width: @tablet-width) {
    padding: 0 20px;
  }
}

.video-presentation__title {
  .font-family(18px;26px);
  margin: 0;
  font-weight: 700;
  padding-bottom: 20px;

  @media (min-width: @tablet-width) {
    .font-family(30px;26px);
  }
}

.video-presentation__description {
  .font-family(14px;21px);
  font-weight: 400;
}

.video-presentation__wrapper {
  padding: 0 6px 38px 26px;

  @media (min-width: @tablet-width) {
    padding: 40px 100px 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 40px 370px 60px;
  }
}

.video-play {
  position: relative;
  width: 280px;
  height: 177px;
  background-image: url("../img/catalog/video-mobile.jpg");
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/catalog/video-mobile@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    width: 648px;
    height: 500px;
    background-image: url("../img/catalog/video-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog/video-tablet2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    width: 800px;
    height: 500px;
    background-image: url("../img/catalog/video-desktop.jpg");
    background-position: 50% 0;
    padding: 0 200px 40px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog/video-desktop2x.jpg");
    }
  }
}

.video-presentation__image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
